body{
    background-color: #421EFF;
    color: #b3dacd;
    font-family: arial, sans-serif;
}
header{
    background-color: #0A4FA6;  
    color: #D1FFFD;
    text-align:center;
    padding:30px;
}
h1{
    font-size:36px;
}
h2{
    color:#ffffff
}
p{
    font-size:18px;
    line-height:1.6;
}