body{
    background-color: #421EFF;
    color: #b3dacd;
    font-family: arial, sans-serif;
    margin: 0;
}
header{
    background-color: #0A4FA6;  
    color: #D1FFFD;
    text-align:center;
    padding:30px;
}
h1{
    font-size:36px;
}
h2{
    color:#ffffff;
}
p{
    font-size:18px;
    line-height:1.6;
}
nav {
        margin-top:20px;
    }

    nav a {
        color:#ffffff;
        text-decoration: none;
        background-color: #ffffff;
        padding: 10px 15px;
        border-radius: 8px;
        margin: 5px;
        display: inline-block;
    }

    nav a:hover {
        background-color: #cee6e4;
    }

    main {
        width: 80%;
        margin:auto;
    }

    section {
        background-color:#cee6e4;
        margin: 20px 0;
        padding: 20px;
        border-radius: 12px;
    }

    img {
        width: 100%;
        max-width: 600px;
        display: block;
        margin: auto;
        border-radius: 20px;
    }

    figcaption {
        text-align: center;
        font-size: 14px;
        color: #cee6e4;
        margin-top: 8px;
    }

    .card {
        background-color:#ffffff;
        padding: 15px;
        margin: 15px 0;
        border-left: 6px solid #c8f7e1;
        border-radius:10px;
    }

    .card h3 {
        margin-top: 0;
    }
    footer {
        background-color: #c8f7e1;
        color:#35d7ff;
        text-align: center;
        padding: 20px;
        margin-top: 30px;
    }
    button{
        background-color:#fc0000;
        color:#ff2600a1;
        border: none;
        padding: 10px 15px;
        border-radius: 8px;
        cursor: pointer;
    }

    button:hover{
        background-color:#fc0037b9;
    }